.mid img{
   /* width: 35%;
   height: 8vh; */
   height: 10vh;
}
#head{
    background-image: url("../Data//img/hme2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100% ;
    width: 100%;
    height: 650px;
    opacity: 0.8;
}
/* #head h3,h4{
    color: black !important;
    font-weight: 700;
} */
#head button{
    background-color: orangered;
}
button{
    background-color: orangered;
}
#head a{
    list-style: none;
    text-decoration: none;
    font-weight: 600;
}
#history p{
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Catamaran', sans-serif;

}
.faculty img{
    width: 175px;
}
.faculty .rj img{
    height: 175px;
}
.faculty .dp img{
    height: 175px;
}
.faculty .sh img{
    height: 175px;
}
.footer{
    height: 300px;
}
.footer i{
    font-size: 1.5rem;
   color: blue
   
}
.faculty .card{
    border: 2px solid grey;
    box-shadow: 5px 5px 5px 5px #888888;
}
.faculty .card img:hover{
    
    transition:translateY(-10%);
}
.faculty p{
    text-align: justify;
    font-weight: 550;
}
#vision1mission p{
    font-size: 1.1rem;
    text-align: justify;
}
.right p{
    text-align: justify;
    font-size: 1.2rem;
}
.pptdata p{
    font-size: 1.2rem;
}
.Others li{
    font-size: 1.2rem;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
}
.contact a{
    background-color:  rgb(69, 69, 235);
    
    color: white;
}
.specl{
    background-color: rgb(69, 69, 235);
}